*{
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root{
    --navbar-height:59px;
}

/* navigation bar  */
#navbar{
    display: flex;
    align-items: center;
    position: relative; /* code for limit the black area*/
}
#navbar::before{
    content: "";          /* yeh pura code navbar ke piche black krne ke liye hai*//* iski wajah se black ayega toh sahi pr jayada area mein so use position relative for navabar*/
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

/* navigation bar: logo and image */
#logo{
    margin: 6px 34px;
}

#logo img{
    height: 70px;
    margin: 3px 6px;

}

/* navigation bar: list */
#navbar ul{
    display: flex;
}

#navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    color: white;
    display: block;
    font-family: 'Bree Serif', serif;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section  */
#home{
    display: flex;
    flex-direction: column;
    height: 735px;
    padding: 10px 200px;
    justify-content: center; 
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url(bg.jpg) ;                 /* ye ../ lgega name se pehle agar tumne koi css folder bna rkha hai toh aur tum usme code kr rhe ho ../ bahar ane ke liye lgta hai*/
    top: 0px;
    left: 0px;
    height: 100%;

    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
}

#home p{
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
}

/* services section  */
#services{
    display: flex;
    margin: 34px;
}

#service::before{
    content: "";
    position: absolute;
    background: url(mandalas-g078f70e27_1920.jpg) ;                 /* ye ../ lgega name se pehle agar tumne koi css folder bna rkha hai toh aur tum usme code kr rhe ho ../ bahar ane ke liye lgta hai*/
    top: 750px;
    left: 0px;
    height: 100%;

    width: 100%;
    z-index: -1;
    opacity: 0.4;
}


#services .box{
    border :2px solid brown ;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    height: 500px;
    background: #f2f2f2;

}

#services .box img{
 height: 156px;   
 margin: auto;
 display: block;
}




/* utility class *//*beneficial*/
.h-primary{
    font-size: 3.8rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}

.h-secondary{
    font-size: 2.8rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}

.h-secondary-center{
    text-align: center;
    font-family: 'Bree Serif', serif;
}

